<%= breadcrumbs %>
<h1>Editing Quiz</h1>

<%= render 'form' %>
<br>

<% @questions.each do |q| %>
    <%= q.question %><br>
    <%= q.option1 %><br>
    <%= q.option2 %><br>
    <%= q.answer %><br>
    <%= link_to '<i class="fi-x small"></i>'.html_safe, delete_question_path(:question_name => q.question), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to '<i class="fi-pencil small"></i>'.html_safe, edit_question_path(:question_name => q.question), method: :get %><br><br>
<% end %>

<%= link_to 'Show', @quiz %> |
<%= link_to 'Back', quizzes_path %>
