<p id="notice"><%= notice %></p>

<p>
  <strong>Rubrik:</strong>
  <%= @slideritem.rubrik %>
  <strong>Text:</strong>
  <%= @slideritem.text %>
</p>

<%= link_to 'Edit', edit_slideritem_path(@slideritem) %> |
<%= link_to 'Back', slideritems_path %>
