<% if @questions %>
    <%= form_for(@question) do |f| %>
        <% if @question.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

              <ul>
                <% @question.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="field">
          <%= f.label :question %><br>
          <%= f.text_field :question %>
        </div>
        <div class="field">
          <%= f.label :option1 %><br>
          <%= f.text_field :option1 %>
        </div>
        <div class="field">
          <%= f.label :option2 %><br>
          <%= f.text_field :option2 %>
        </div>
        <div class="field">
          <%= f.label :answer %><br>
          <%= f.text_field :answer %>
        </div>
        <div class="field">
          <%= f.hidden_field :quiz_id, value: parent_quiz_id %>
        </div>
        <div class="actions">
          <%= f.button :Skapa, :class => 'form-btn ease' %>
        </div>
    <% end %>
<% end %>
