<% v = find_quiz(quiz)%>
    <% if v.id? %>
     <div class="quiz" id='quiz_<%= v.id %>'>
        <% v.questions.each do |q| %>
            <%= form_for @question, :html => { :id => "#{q.id}"} do |f| %>
                <div class="question" id="question_<%= q.id %>">
                <div class="row">
                <div class="large-6 columns qa-headline">
                  <% if q.question %>
                      <%= q.question %>
                </div>
                </div>
                      <% options = {"option1" => q.option1, "option2" => q.option2, "correct" => q.answer}
                         options = Hash[options.to_a.sample(options.length)]
                         options.each do |key, z| %>
                           <%= f.label z %>
                           <%= f.radio_button :answer, z, class: key, id: key %>
                     <% end %>
                  <% end %>
              </div>
                <br>
            <% end %>
        <% end %>
          <button id="submit_quiz" quiz="<%= v.id %>" class="quiz_test">Rätta Quiz</button>
        </div>
    <% end %>
