<%= form_for(@question) do |f| %>
    <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
            <% @question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% @quizzes.each do |v| %>
        <h4><%= v.name %>, id: <%= v.id %></h4>
        <% @questions.each do |q| %>
            Fråga id: <%= q.id %><br>
            <%= q.question %><br>
            <div class="field">
              <%= f.label q.option1 %>
              <%= f.radio_button :answer, q.option1 %><br>
            </div>
            <div class="field">
              <%= f.label q.option2 %>
              <%= f.radio_button :answer, q.option2 %><br>
            </div>
            <div class="field">
              <%= f.label q.answer %>
              <%= f.radio_button :answer, q.answer %><br>
            </div>
            <br>
        <% end %>
        <div class="actions">
          <%= f.submit 'Klar' %>
        </div>
    <% end %>
<% end %>

