<p id="notice"><%= notice %></p>

<p>
  <%= @step.category_id %>
  <strong>Name:</strong>
  <%= @step.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @step.desc %>
</p>

<p>
  <strong>Category:</strong>
  <%= @step.category %>
</p>


<button id="video_toggle" class="button success radius">L채gg till video</button>
<div class="video_form">
  <%= render '/videos/form' %>
</div>
<br>
<button id="guide_toggle" class="button success radius">L채gg till guide</button>
<div class="guide_form">1
  <%= render '/guides/form' %>
</div>
<br>
<button id="assignment_toggle" class="button success radius">L채gg till uppdrag</button>
<div class="assignment_form">
  <%= render '/assignments/form' %>
</div>
<br>
<button id="quiz_toggle" class="button success radius">L채gg till quiz</button>
<div class="quiz_form">
  <%= render '/quizzes/form' %>
</div>
<br>

<% if current_user.admin? %>
    <div class="table" id="sortable"> <!-- #sortable makes .table sortable with jquery-ui if you're admin -->
<% else %>
    <div class="table">
<% end %>
  <% @step_items.each do |item| %>
      <% if item['uid'] %>
          <div class="item" data-item-id=<%= "#{item['uid']}" %> >
            <div class="td">
              <h4><%= item['name'] %></h4>
            </div>
            <% if current_user.admin? %> <!-- this makes you able to show only name for step item if your admin, easier for drag and drop -->
              <% if item['desc'] %>
                <div class="td">
                  <button id="show_desc" class="small">Visa mer</button>
                  <div id="desc" class="hidden">
                    <%= item['desc'].html_safe %>
                  </div>
                </div>
              <% end %>
            <% else %>
                <% if item['desc']%>
                    <div class="td">
                      <div id="desc">
                        <%= item['desc'].html_safe %>
                      </div>
                    </div>
                <% end %>
            <% end %>
            <% if current_user.admin? %>
              <% if item['url'] %>
                <div class="td">
                    <button id="show_video" class="small">Visa mer</button>
                    <div id="video_url" class="hidden">
                      <%= raw(youtube_embed(item['url'])) %><br>
                    </div>
                </div>
              <% end %>
            <% else %>
                <% if item['url'] %>
                    <div class="td">
                      <div id="video_url">
                        <%= raw(youtube_embed(item['url'])) %><br>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% end %>
  <% end %>
</div>

<br>
<%= link_to 'Edit', edit_step_path(@catname,@step.name) %> |
<%= link_to 'Back', steps_path %>
