<p id="notice"><%= notice %></p>

<p>
  <%= @step.category_id %>
  <strong>Name:</strong>
  <%= @step.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @step.desc %>
</p>

<p>
  <strong>Category:</strong>
  <%= @step.category %>
</p>

<button id="video_toggle" class="button success radius">L채gg till video</button>
<div class="video_form">
  <%= render '/videos/form' %>
</div>
<br>
<button id="guide_toggle" class="button success radius">L채gg till guide</button>
<div class="guide_form">
  <%= render '/guides/form' %>
</div>
<br>
<button id="assignment_toggle" class="button success radius">L채gg till uppdrag</button>
<div class="assignment_form">
  <%= render '/assignments/form' %>
</div>
<br>
<button id="quiz_toggle" class="button success radius">L채gg till quiz</button>
<div class="quiz_form">
  <%= render '/quizzes/form' %>
</div>
<br>
<% @videos.each do |v| %>
    <% if v.name? %>
        <div class="video_wrapper">
            <div class="video_name">
                <%= v.name %><br>
            </div>
                <button id="show_video">Visa mer</button>
            <% end  %>
            <div class="video_url">
                <% if v.url? %>
                  <%= raw(youtube_embed(v.url)) %><br>
                <% end %>
            </div>
        </div>
<% end %>
<br>
<% @guides.each do |g| %>
    <% if g.desc? %>
        <%= g.name %><br>
        <%= g.desc.html_safe %>
    <% end %>
<% end %>

<%= render 'quiz' %>

<br>
<%= link_to 'Edit', edit_step_path(@catname,@step.name) %> |
<%= link_to 'Back', steps_path %>
