<p id="notice"><%= notice %></p>

<p>
  <%= @step.category_id %>
  <strong>Name:</strong>
  <%= @step.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @step.desc %>
</p>

<p>
  <strong>Category:</strong>
  <%= @step.category %>
</p>
<br>
<% @videos.each do |v| %>
    <%= raw(youtube_embed(v.url)) %><br>
<% end  %>
<br>

<button id="quiz_toggle" class="button success radius">Lägg till quiz</button>
<br>
<div class="quiz_form">
  <%= render :partial => 'quizzes/form' %>
</div>
<br>
<%= render 'quiz' %>
<br>

<%= link_to 'Edit', edit_step_path(@catname,@step.name) %> |
<%= link_to 'Back', steps_path %>
