<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @step.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @step.desc %>
</p>

<p>
  <strong>Category:</strong>
  <%= @step.category %>
</p>
<br>
<% @videos.each do |v| %>
    <%= raw(youtube_embed(v.url)) %><br>
<% end  %>
<br><br>
<% @quizzes.each do |v| %>
    <%= v.name %>
    <% @questions.each do |q| %>
        <%= q.question %><br>
        <%= q.option1 %><br>
        <%= q.option2 %><br>
        <%= q.answer %><br><br>
    <% end %>
<% end %>
<br>

<%= render '/guides/form' %>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>

