<script type="text/javascript" src="../javascripts/jssor.core.js"></script>
<script type="text/javascript" src="../javascripts/jssor.utils.js"></script>
<script type="text/javascript" src="../javascripts/jssor.slider.js"></script>
<script type="text/javascript" src="../javascripts/slider.js"></script>


<div class="row">

  <!--  TOPBAR -->
  <div class="small-12 medium-12 large-12 columns topbar">
    <div class="searchej left">
      <%= form_tag search_path, class: "form-inline", method: :get do %>
          <%= text_field_tag :query, params[:query], class: "search_form", id: "user_search", autocomplete: "on", placeholder: 'Sök användare' %>

          <div id="input_img"><%= image_submit_tag ('Search.png'), class:'input_img sbtnstyle' %></div>
      <% end %>
    </div>
    <div class="bread left"><%= breadcrumbs %></div>

    <% if current_user %>

    <% if current_user.admin? %>
        <% if current_page?(root_path) %>
            <button id="module_toggle" class="button redbtn ease right">Lägg till modul</button>
        <% end %>
        <% if params[:category_name] %>
            <% if current_page?(category_path(params[:category_name])) %>
                <button id="examination_toggle" class="button redbtn ease right">Lägg till examination</button>
                <button id="step_toggle" class="button redbtn ease right">Lägg till steg</button>

            <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if current_page?(root_path) %>
      <div class="module_form">
        <%= render :partial => 'module' %>
      </div>
  <% end %>
  <% if params[:category_name] %>
      <% if current_page?(category_path(params[:category_name])) %>
          <div class="step_form">
            <%= render :partial => '/steps/steps' %>
          </div>
          <div class="examination_form">
            <%= render '/examinations/create_form' %>
          </div>
      <% end %>
  <% end %>

  <div class="medium-12 large-12 columns sliderimg">
    <div class="large-12 columns imageslider"> <%= image_tag("sliderblur.png") %></div>
    <div class="medium-12 large-12 columns slider"> 
        

         <div id="slider1_container" style="position: relative; top: 2px; left: 10px; width: 600px;
              height: 300px;">
        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 120px; top: 2px; width: 600px; height: 300px;
                overflow: hidden;">
          <div class="large-12 columns"><h2>Rubrik1</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis impedit dicta harum quidem vel explicabo eos perspiciatis reiciendis animi minus.</p></div>
          <div class="large-12 columns"><h2>Rubrik2</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis impedit dicta harum quidem vel explicabo eos perspiciatis reiciendis animi minus.</p></div>
          <div><%= image_tag("http://lorempixel.com/600/150/") %></div>
          <div class="large-12 columns"><h2>Rubrik3</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis impedit dicta harum quidem vel explicabo eos perspiciatis reiciendis animi minus.</p></div>
          <div><%= image_tag("http://lorempixel.com/600/150/") %></div>
        </div>
        <script>
            jssor_slider1_starter('slider1_container');
        </script>

      </div>


   
  </div>
  </div>

  <!--    RUBRIK  -->
<% if params[:step_name] %>
  <% else %>
    </div>
<% end %>