
  <div class="row fw contents">
      <div class="large-12 columns moduwrapper">
            <% @categories.each_with_index do |cat, index| %>
      <div class="medium-5 large-5 columns modu">
        <a href="<%= category_path(cat.name) %>">
        <div class="mod-desc" style="background-color:<%= @colors[index%4] %>;">
          <div class="desc-p">
            <p><%= cat.desc %></p>
          </div>
        </div>
        <div class="mod-headline" style="background-color:<%= @darkcolors[index%4] %>;">
          <div class="headline-p">
            <h1><%= cat.name.titleize %></h1>
          </div>
        </div>

      </a>

        <div class="crud">
          <% if current_user.admin? %>
            <%= link_to '<i class="fi-x small"></i>'.html_safe, delete_category_path(cat.name), method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to '<i class="fi-pencil small"></i>'.html_safe, edit_caturl_path(cat.name), method: :get %>
          <% end %>
              </div>
      </div>

      <% end %>
    <p></p>
    </div>
</div>
  </div>


