
<div class="row text">
  <div class="medium-4 large-4 columns mod-headline">
     <h2>Moduler</h2><br><%= link_to 'Lägg till ny', new_category_path, :class => "button" %>
  </div>
  <div class="medium-4 large-4 columns mod-headline">
      <h2>Flöde</h2>
  </div>
</div>


 <div class="row">
  <div class="medium-6 large-8 columns">
     <div class="row">
       <% @categories.each_with_index do |cat, index| %>
       <a href="<%= category_path(cat.name) %>">
       <div class="large-5 columns panel mods" style="background-color: <%= @colors[index % 4]%>">
         <h4><%= cat.name.titleize %></h4><p><%= cat.desc %></p>
         <p><%=index % 4%></p></a>
         <%= link_to '<i class="fi-x small"></i>'.html_safe, delete_category_path(cat.name), method: :delete, data: { confirm: 'Are you sure?' } %>
         <%= link_to '<i class="fi-pencil small"></i>'.html_safe, edit_caturl_path(cat.name), method: :get %>
       </div>
       <% end %>
     </div>
  </div>





    <div class="medium-6 large-4 columns">
      <div class="panel feed">
        <p>Lorem ipsum dolor sit amet, consectetur adipisi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime fugit dolorum velit maiores laudantium nobis possimus accusamus delectus, voluptatem, quos id asperiores. Vero reiciendis fugit reprehenderit sit omnis aperiam maiores, labore provident? Tenetur dicta, ad nam debitis vel quibusdam totam aut dolor eligendi iusto. A magni hic dolor id, quasi consectetur sunt harum, optio! Eveniet earum, facere necessitatibus. Voluptatem maxime, et quae saepe aliquid repellat. Fugit vero delectus recusandae totam, mollitia culpa architecto, aliquam placeat expedita, excepturi consequuntur! Magnam minima iusto ipsa libero possimus totam neque, praesentium illo nisi error laudantium distinctio quisquam est quod expedita! Voluptatibus exercitationem, cum, blanditiis nisi, voluptate maxime hic perferendis laborum porro non saepe, explicabo adipisci dolor. Atque libero, amet ad culpa deleniti error nihil labore debitis quam odit. Perferendis harum quae et, nisi dolore maxime aperiam! Ea numquam, provident. Vitae nobis, voluptates atque modi officiis tempora dignissimos repellendus numquam dolores facilis sed. Porro quas et possimus magni officia iste excepturi sequi, modi asperiores fugiat incidunt dolorum distinctio reiciendis explicabo sint soluta esse consequuntur tempore eaque, voluptates nam ullam a deserunt? Tempora, quod. Cupiditate distinctio, eveniet nulla aliquam assumenda laudantium sequi animi repellendus tenetur nostrum. Aliquam earum quis eos repudiandae tempora, beatae ipsam libero voluptas.</p>
      </div>
    </div>
  
</div>

