<%= include_gon %>

  <p id="notice"><%= notice %></p>
<div class="row">
 <div class="large-12 columns">
  <div class="large-12 columns headline">
    <h3><%= @category.name %></h3>
  </div>
<div class="large-8 columns">

<div id="steps">
    <% @steps.each do |s| %>
        <% if s.name?
          substeps = Substep.where({step_id: s.id}) %>
        <% percent = get_steps_info(params[:category_name], s.name, @completion, substeps.length) %>
        <div id="step_<%= s.id %>" class="large-12 columns step">

                      <div class="step-comp" style="width:<%= percent["percent"][0] %>%;"></div>
          <h2><%= link_to s.name, step_path(:category_name => params[:category_name], :step_name => s.name) %></h2>

          <% if current_user.admin? %>
              <%= link_to '<i class="fi-x"></i>'.html_safe, delete_step_path(:category_name => params[:category_name], :step_name => s.name), method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to '<i class="fi-pencil"></i>'.html_safe, edit_step_path(:category_name => params[:category_name], :step_name => s.name), method: :get %>
          <% end %>
          <div class="step-bottom"><p><%= percent["percent"][0] %>% avklarad</p></div>
          </div><p></p>
        <% end %>
    <% end %>
</div>
</div>
<div class="large-4 columns form-style">
  <h4>Kommentarer</h4>
  <button id="comment_toggle" class="button tiny form-btn">Kommentera</button>
<div class="comment_form">
  <%= render :partial => '/comments/form' %>
</div>
<div class="comments_render">
  <%= render 'comments/comments' %>
</div>

</div>
</div>
</div>

<% @examinations.each do |e| %>
    <% if e %>
        <%= e.name %><br>
        <% if e.desc %>
            <%= e.desc.html_safe %>
        <% end %>
    <% end %>
<% end %>
<br>
