<%= include_gon %>
<p id="notice"><%= notice %></p>
<div class="row">
 <div class="medium-6 large-8 columns">
<p>


   <h3><%= @category.name %></h3>


<br>
<h4>Steg</h4>

<div id="steps">
    <% @steps.each do |s| %>
        <% if s.name? %>
          <%= link_to s.name, step_path(:category_name => params[:category_name], :step_name => s.name) %>
          <% if current_user.admin? %>
              <%= link_to '<i class="fi-x small"></i>'.html_safe, delete_step_path(:category_name => params[:category_name], :step_name => s.name), method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to '<i class="fi-pencil small"></i>'.html_safe, edit_step_path(:category_name => params[:category_name], :step_name => s.name), method: :get %>
          <% end %>
          <br>
        <% end %>
    <% end %>
</div>
<br>
   <% if current_user.admin? %>
    <button id="step_toggle" class="button success radius">Lägg till steg</button>
    <br>
    <div class="step_form">
      <%= render :partial => '/steps/steps' %>
    </div>
    <br>
    <button id="examination_toggle" class="button success radius">Lägg till examination</button>
    <br>
    <div class="examination_form">
      <%= render '/examinations/form' %>
    </div>
    <br>
   <% end %>

<% @examinations.each do |e| %>
    <%= e.name %><br>
    <%= e.desc %>
<% end %>
<br>

<h4>Kommentarer</h4>
<% @comments.each do |x,y| %>
       <div class="comments-container">
     <% if x.parent_id == nil %>
             <div class="comments panel">
               <% if @user %>
                   <br> <strong><%= @user.name %></strong><br>
               <% end %>
               <%= x.msg %><br>
               <%= x.id %>
             </div>
         <% end %>
         <% @commentsxx.each do |c, z| %>
            <% if z.parent_id == x.id  %>
                   <% if z.parent_id %>
                     <div class="replies panel">
                       <% if @user %>
                           <br> <strong><%= @user.name %></strong><br>
                       <% end %>
                  <%= z.msg %>
                       <% end %>
                 </div>
               <% end %>
         <% end %>
         <% if x.parent_id == nil %>
             <button id="reply_toggle" class="button success radius tiny">Svara</button>
             <div id="reply_form">
               <%= render :partial => '/comments/reply', :locals => {:parent_id => x.id, :position => 0}  %>
             </div>
         <% end %>
       </div>
<% end %>

<br>

<button id="comment_toggle" class="button success radius">Kommentera</button>
<br>
<div class="comment_form">
  <%= render :partial => '/comments/form', :locals => {:position => @comments.length+1 } %>
</div>
<br>

</div>
</div>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_caturl_path(@category.name) %> |
<%= link_to 'Back', categories_path %>
<% end %>
