<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>

</p>

<% @category.id  %>

<p>
  <strong>Desc:</strong>
  <%= @category.desc %>
</p>
<br>
<p>Kommentarer</p>
<% @comments.each do |c| %>
    <%= c.msg %><br>
<% end %>
<br><br>



<%= render '/examinations/form' %>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
