<%= include_gon %>

  <p id="notice"><%= notice %></p>
<div class="row">
 <div class="large-12 columns">
  <div class="large-12 columns headline">
    <h3><%= @category.name %></h3>
  </div>
<div class="large-8 columns">

<div id="steps">
    <% @steps.each do |s| %>
        <% if s.name?
          substeps = Substep.where({step_id: s.id}) %>
        <% percent = get_steps_info(params[:category_name], s.name, @completion, substeps.length) %>
        <div id="step_<%= s.id %>" class="large-12 columns step">

                      <div class="step-comp" style="width:<%= percent["percent"][0] %>%;"></div>
          <h2><%= link_to s.name, step_path(:category_name => params[:category_name], :step_name => s.name) %></h2>

          <% if current_user.admin? %>
              <%= link_to '<i class="fi-x"></i>'.html_safe, delete_step_path(:category_name => params[:category_name], :step_name => s.name), method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to '<i class="fi-pencil"></i>'.html_safe, edit_step_path(:category_name => params[:category_name], :step_name => s.name), method: :get %>
          <% end %>
          <div class="step-bottom"><p><%= percent["percent"][0] %>% avklarad</p></div>
          </div><p></p>
        <% end %>
    <% end %>
</div>
</div>
<div class="large-4 columns form-style">
  <h4>Kommentarer</h4>
  <button id="comment_toggle" class="button tiny form-btn">Kommentera</button>
<div class="comment_form">
  <%= render :partial => '/comments/form', :locals => {:position => @comments.length+1 } %>
</div>
<% @comments.each do |x,y| %>
       <div class="comments-container">
     <% if x.parent_id == nil %>
             <div class="comments">
               <% if @user %>
                   <br> <strong><%= @user.name %></strong><br>
               <% end %>

               <% if x.user_id = current_user.id %>
                   <%= link_to '<i class="fi-x fi-x-fix"></i>'.html_safe, x, method: :delete, data: { confirm: 'Are you sure?' } %>
                   <%= best_in_place Comment.find(x.id), :msg, :as => :textarea, :ok_button => 'Spara', :ok_button_class => 'button form-btn tiny', :cancel_button => 'Avbryt', :cancel_button_class => 'button form-btn cancel-btn tiny', :class => 'fi-pencil bip-text'%>
               <% else %>
                   <%= x.msg %>
               <% end %>
               <% if Comment.where({parent_id: x.id}).first %>
                 <div id="answer-btn" class="answer-btn right"><i class="fa fa-plus"></i></div>
              <% end %>
              <% if x.parent_id == nil %>
              <br>
             <button id="reply_toggle" class="button form-btn tiny">Svara</button>
             <div id="reply_form">
               <%= render :partial => '/comments/reply', :locals => {:parent_id => x.id, :position => 0}  %>
             </div>
         <% end %>
               <hr>
             </div>
         <% end %>
         <% @commentsxx.each do |c, z| %>
            <% if z.parent_id == x.id  %>
                   <% if z.parent_id %>
                     <div class="replies" id="replies">
                       <% if @user %>
                           <br> <strong><%= @user.name %></strong><br>
                       <% end %>
                       <% if z.user_id = current_user.id %>
                           <%= link_to '<i class="fi-x fi-x-fix"></i>'.html_safe, z, method: :delete, data: { confirm: 'Are you sure?' } %>
                           <%= best_in_place Comment.find(z.id), :msg, :as => :textarea, :ok_button => 'Spara', :ok_button_class => 'button form-btn tiny', :cancel_button => 'Avbryt', :cancel_button_class => 'button form-btn cancel-btn tiny', :class => 'fi-pencil bip-text'%>
                       <% else %>
                           <%= z.msg %>
                       <% end %>
                  <hr>
                       <% end %>
                 </div>
               <% end %>
         <% end %>

       </div>
<% end %>

</div>
</div>
</div>

<% @examinations.each do |e| %>
    <%= e.name %><br>
    <%= e.desc %>
<% end %>
<br>
