<%= include_gon %>

  <p id="notice"><%= notice %></p>
<div class="row">
 <div class="large-12 columns">
  <div class="large-12 columns headline">
    <h3><%= @category.name %></h3>
  </div>
<div class="large-8 columns">

<div id="steps">
    <% @steps.each do |s| %>
        <% if s.name?
          substeps = Substep.where({step_id: s.id}) %>
        <% percent = get_steps_info(params[:category_name], s.name, @completion, substeps.length) %>
        <div id="step_<%= s.id %>" class="large-12 columns step">

                      <div class="step-comp" style="width:<%= percent["percent"][0] %>%;"></div>
          <h2><%= link_to s.name, step_path(:category_name => params[:category_name], :step_name => s.name), 'data-no-turbolink' => true %></h2>
          <% if percent["percent"][0].to_i > 0 %>
          <div class="<%= badges[s.id%4] %>">
              <div class="bheadline"><h3><%= s.name %></h3></div>
              <div class="bstep"><p><%= @category.name %></p></div>
          </div>
          <% end %>
          <% if current_user.admin? %>
              <%= link_to '<i class="fi-x"></i>'.html_safe, delete_step_path(:category_name => params[:category_name], :step_name => s.name), method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to '<i class="fi-pencil"></i>'.html_safe, edit_step_path(:category_name => params[:category_name], :step_name => s.name), method: :get %>
          <% end %>
          <div class="step-bottom"><p><%= percent["percent"][0] %>% avklarad</p></div>
          </div><p></p>
        <% end %>
    <% end %>
</div>
</div>
<div class="large-4 columns form-style">
  <h4>Kommentarer</h4>
  <button id="comment_toggle" class="button tiny form-btn">Kommentera</button>
<div class="comment_form">
  <%= render :partial => '/comments/form' %>
</div>
<div class="comments_render">
  <%= render 'comments/comments' %>
</div>

</div>
</div>
</div>

<% @examinations.each do |e| %>
    <% if e
      if e.name %>
      <div id="" class="large-12 columns step">
        <% if @completion[@category.name] %>
        <% if not @completion[@category.name]["examination"] && @completion[@category.name]["examination"]["done"] %>
        <%= link_to e.name, examination_path(:examination_name => e.name) %><br>
        <% else %>
        <%= e.name %>
        <% end %>
        <% if @completion[@category.name]["examination"] %>
        <div class="<%= badges[e.id%4] %>">
            <div class="bheadline"><h3><%= e.name %></h3></div>
            <div class="bstep"><p><%= @category.name %></p></div>
        </div>
        <% end %>
        <% if e.desc %>
            <%= e.desc.html_safe %>
            <% if current_user.admin? %>
                <%= link_to '<i class="fi-x small"></i>'.html_safe, delete_examination_path(:examination_name => e.name), method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= link_to '<i class="fi-pencil small"></i>'.html_safe, edit_examination_path(:examination_name => e.name), method: :get %>
                <br><br>
            <% end %></div>
        <% end end end %>
    <% end %>
<% end %>
<br>
