<%= include_gon %>
<p id="notice"><%= notice %></p>
<div class="row">
 <div class="medium-6 large-8 columns">
<p>
  <strong>Name:</strong>

  <%= @category.id %>
  <%= @category.name.titleize %>

</p>

<% @category.id  %>

<p>
  <strong>Desc:</strong>
  <%= @category.desc %>
</p>
<br>

<br>
<h4>Steg</h4>

<div id="steps">
    <% @steps.each do |s| %>
        <%= s.id %>
        <% if s.name? %>
        <%= link_to s.name, step_path(:category_name => params[:category_name], :step_name => s.name) %>
        <%= link_to '<i class="fi-x small"></i>'.html_safe, delete_step_path(:category_name => params[:category_name], :step_name => s.name), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to '<i class="fi-pencil small"></i>'.html_safe, edit_step_path(:category_name => params[:category_name], :step_name => s.name), method: :get %>
        <br>
        <% end %>
    <% end %>
</div>
<br>
<button id="step_toggle" class="button success radius">Lägg till steg</button>
<br>
<div class="step_form">
  <%= render :partial => '/steps/steps' %>
</div>
<br>
<button id="examination_toggle" class="button success radius">Lägg till examination</button>
<br>
<div class="examination_form">
  <%= render '/examinations/form' %>
</div>
<br>
<% @examinations.each do |e| %>
    <%= e.name %><br>
    <%= e.desc %>
<% end %>
<br>


<h4>Kommentarer</h4>
<% @comments.each do |c| %>
    <%= c.msg %><br>
<% end %>
<br>



<button id="comment_toggle" class="button success radius">Kommentera</button>
<br>
<div class="comment_form">
  <%= render :partial => '/comments/form' %>
</div>
<br>

</div></div>
<%= link_to 'Edit', edit_caturl_path(@category.name) %> |
<%= link_to 'Back', categories_path %>
