<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>

  <%= @category.id %>
  <%= @category.name.titleize %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @category.desc %>
</p>
<br>
<p>Kommentarer</p>
<% @comments.each do |c| %>
    <%= c.msg %><br>
<% end %>
<br><br>

<%= link_to 'Edit', edit_caturl_path(@category.name) %> |
<%= link_to 'Back', categories_path %>
