<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guide.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @guide.desc.html_safe %>
</p>

<p>
  <strong>Step:</strong>
  <%= @guide.step.name %>
</p>



<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
