<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @examination.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @examination.desc %>
</p>

<p>
  <strong>Category:</strong>
  <%= @examination.category %>
</p>

<%= link_to 'Edit', edit_examination_path(@examination) %> |
<%= link_to 'Back', examinations_path %>
