<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @examination.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @examination.desc %>
</p>

  <%= render :partial => '/user_examinations/form' %>

<%= link_to 'Edit', edit_examination_path(@examination) %> |
<%= link_to 'Back', examinations_path %>
