<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Olofström" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "custom" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

     
        <div class="nav_header">
          <div class="logo">
            <a href="http://localhost:3000/"><p><%= image_tag("oLogo.png") %></p></a>       
          </div>
          <div class="row">
            <ul class="right list">
              <!--<a href="#"><li class="li_menu">
                Start
              </li></a>
              <a href="#"><li class="li_menu">
                Profil
              </li></a>
              <a href="#"><li class="li_menu">
                Logga ut
              </li></a>-->
              
              <a href="#"><li class="active_user has-dropdown">
               <strong><%= current_user.name %></strong>
              </li></a>
            </ul>
          </div>
        </div>

        <!-- DROPDOWN BUTTON -->
        <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Dropdown Button</button><br>
<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li>
</ul>
  <br><br>
   
    





 <!--<div class="container">
    <div class="row full_width">
      <div class="twelve columns header full_width">
        <div class="one columns logodiv" style="clear:both"><%= image_tag("oLogo.png") %> </div>
      </div>
    </div>
  </div>-->


  <!--<nav class="top-bar" data-topbar role="navigation">

    <ul class="title-area">

      <li class="left" id="top-logo"><%= image_tag("oLogo.png") %></li>

      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>

    </ul>

    <section class="top-bar-section">

      <ul class="right mongo">

         <li class="li_menu"><a href="#"><p>START<p></a></li>

        <li><a href="#">PROFIL</a></li>

             <% if current_user %>

            <li><%= link_to "LOGGA UT", signout_path, id: "sign_out" %></li>

      <% end %>

      <li class="progressbar"><%= image_tag("progress.png") %></li>

        <li class="active"><a href="#">

      <% if current_user %>

           <strong><%= current_user.name %></strong>!

          <% if current_user.admin? %>

          <% end %>

          <% end %></a></li>

        </ul>
  </section>
  </nav><br><br>-->

  <!--<div>
  <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% if current_user.admin? %>
          <p>Hello you are Admin!!</p>
          <%= current_user.admin? %>
      <% end %>
  <% end %>
  </div>-->
    <div class="container"> <%= yield %>
    </div>


  </body>
</html>
