<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= @title ? @title: "Olofström  - OKIT" %></title>

<!--

                                    o
                                   $""$o
                                  $"  $$
                                   $$$$
                                   o "$o
                                  o"  "$
             oo"$$$"  oo$"$ooo   o$    "$    ooo"$oo  $$$"o
o o o o    oo"  o"      "o    $$o$"     o o$""  o$      "$  "oo   o o o o
"$o   ""$$$"   $$         $      "   o   ""    o"         $   "o$$"    o$$
  ""o       o  $          $"       $$$$$       o          $  ooo     o""
     "o   $$$$o $o       o$        $$$$$"       $o        " $$$$   o"
      ""o $$$$o  oo o  o$"         $$$$$"        "o o o o"  "$$$  $
        "" "$"     """""            ""$"            """      """ "
         "oooooooooooooooooooooooooooooooooooooooooooooooooooooo$
          "$$$$"$$$$" $$$$$$$"$$$$$$ " "$$$$$"$$$$$$"  $$$""$$$$
           $$$oo$$$$   $$$$$$o$$$$$$o" $$$$$$$$$$$$$$ o$$$$o$$$"
           $"""""""""""""""""""""""""""""""""""""""""""""""""""$
           $"                                                  o
           $"$"$"$"$"$"$"$"$"$"$"$"$"$"$"$"$"$"$"$"$"$"$"$"$"$$
 -->

  <%= stylesheet_link_tag    "application", 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= Gon::Base.render_data({}) %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '../favicon.ico' %>

</head>

<body>

<div class="row container">
  <div class="large-12 columns wrapper">
    <% if current_user %>
        <div class="small-12 medium-2 large-2 columns top"><%= link_to image_tag("logo.png").html_safe, root_path %></div>
        <div class="medium-2 large-2 columns sidebar">


          <%= link_to "<div class='small-12 medium-12 large-12 columns side'><p><i class='fa fa-user'></i>&nbsp;#{current_user.name}</p></div>".html_safe, user_path(current_user.name.split(" ")[0]+'-'+current_user.id.to_s) %>
          <div class="small-12 medium-12 large-12 columns side arch-toggle"><p><i class="fa fa-trophy"></i>Märken</p></div>
          <div class="large-12 columns arch">
            <div class="row">
              <p>Dina märken</p>     
              <div class="large-12 columns">   
                <% comp = get_completion(current_user) %>
              	  <% if comp %>
              <% comp.each do |compkey,compval| %>
                <%# testz = get_steps_info() %>
                <% done = [] %>
                <% compval.each do |stepkey, stepval| %>
                  <% if stepkey == "examination" then next end %>
                  <% step = Step.where({name:stepkey}).first %>
                  <% substeps = Substep.where({step_id: step.id}) %>
                  <% step = get_steps_info(compkey, stepkey, JSON.parse(current_user.completion),substeps.length) %>
                  <% step["percent"][0] %>
                  <% done.push(step["percent"][0]) %>
                <% end %>

                <% nothundred = 0 %>
                <% done.each do |x| %>
                  <% if x == "100" %>
                    <% next %>
                  <% else %>
                    <% nothundred = nothundred+1 %>
                  <% end %>
                <% end %>
                <% if nothundred > 0 %>
                <% index = 0 %>
                <div class="large-6 columns sbadge right">
                  <% compval.each do |stepkeyz,stepvalz| %>
                  <% index = index+1 %>

                  <div class="large-4 columns ">
                    <div class="<%= badges[index%4] %>">
                        <div class="bheadline"><h3><%= compkey %></h3></div>
                        <div class="bstep"><p><%= stepkeyz %></p></div>
                    </div>
                    </div>

                  <% end %>
                  </div>
                  <% else %>
                  <div class="large-2 columns gbadge left">
                  <div class="goldbadge">
                      <div class="bheadline"><h3><%= compkey %></h3></div>
                      <div class="bstep"><p>DDD</p></div>
                  </div>
                  </div>
                <% end %>


              <% end %>
              <% end %>
            </div>
            </div>
          </div>
        <% if current_user.admin? %>
       <%= link_to '<div class="small-12 medium-12 large-12 columns side"><p><i class="fa fa-user-secret"></i>&nbsp;Admin</p></div>'.html_safe, admin_path %>
        <% end %>
        <%= link_to '<div class="small-12 medium-12 large-12 columns side"><p><i class="fa fa-question"></i> &nbsp;FAQ</p></div>'.html_safe, faqs_path %>
          <a href="#"><div class="small-12 medium-12 large-12 columns side fed"><p><i class="fa fa-comment"></i>Flöde</p></div></a>
          <div class="large-12 columns fed-toggle">
            <div class="row">
              <div class="small-6 large-6 columns flod">
          <% @activities = get_activities.first(5) %>
            <% @activities.each do |activity|
              if activity
              name = activity.owner.name.split(" ")
            link = activity.key.split(">")
            if link[1]
            nar = link[1].split("<") %>
            <% title = nar[0].truncate(15)
            linkx = link.split(": ") %>
            <% linkz = linkx[0][0].split(": ") %>
            <% if linkz[1] %>
            <% l = linkz[1]+">"+title+"</a>" %>
          <div class="large-12 columns avtxt"><p><%=link_to name[0], session_path(activity.owner)%>
               <%= linkz[0] + ": "%><%= l.html_safe %></p></div>
           <% end end end end %>
              </div>
            </div>
          </div>
          <%= link_to '<div class="small-12 medium-12 large-12 columns side"><p><i class="fa fa-sign-out"></i>Logga ut</p></div>'.html_safe, signout_path, id: "sign_out" %>
       </div>

     <div class="small-12 columns mobile-menu-btn"><i class="fa fa-bars fa-3x"></i></div>


        <div class="small-12 medium-10 large-10 columns content in">

    <% end %>
    <% if current_user %>

        <%= render :partial => '/categories/topbar' %>

    <% end %>
    <%= yield %>


    </div>
  </div>
</div>
</div>



</body>

</html>
