<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= @title ? @title: "Olofström  - OIKT" %></title>

  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/style.css" />
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= Gon::Base.render_data({}) %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '../favicon.ico' %>
</head>

<body>
   
  <div class="row container">
    <div class="large-12 columns wrapper">
      <% if current_user %>
      <div class="medium-3 large-3 columns sidebar">
          <div class="row">
            <div class="medium-12 large-12 columns top"><%= link_to image_tag("logo.png").html_safe, root_path %></div>
              <div class="medium-12 large-12 columns side"><p><%= current_user.name %></p></div>
              <div class="medium-12 large-12 columns side"><p>Profil</p></div>
              <div class="medium-12 large-12 columns side arch-toggle"><p>Badges</p></div>
              <div class="large-12 columns arch">
                <div class="row">
                  <h4>FÄRDIGA</h4><br>
                  <div class="small-6 large-4 columns"><%= image_tag("badge.png") %></div>
                  <div class="small-6 large-4 columns"><%= image_tag("badge.png") %></div>
                  <div class="small-6 large-4 columns"><%= image_tag("badge.png") %></div>
                  <div class="small-6 large-4 columns"><%= image_tag("badge.png") %></div>
                  <div class="small-6 large-4 columns"><%= image_tag("badge.png") %></div>
                  <div class="small-6 large-4 columns"><%= image_tag("badge.png") %></div>
                </div>
              </div>
              <div class="medium-12 large-12 columns side"><p><%= link_to "Logga ut", signout_path, id: "sign_out" %></p></div>
              <div class="medium-12 large-12 columns side">
                <li class="has-form side"> 
                  <div class="row">
                    <div class="medium-12 large-12 columns">
                      <div class="row collapse">
                        <div class="small-9 columns">
                          <%= text_field_tag :query, params[:query], class: "form-control", id: "user_search", autocomplete: "off" %>
                          <%= form_tag search_path, class: "form-inline", method: :get do %>
                        </div>
                        <div class="small-3 columns">
                          <div class="input-group-btn"> <%= submit_tag 'Sök' %></div>
                         <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>


                  
                  


                <div class="medium-12 large-12 columns">
                  <p>Senaste aktiviteter</p>
                </div>
                <div class="medium-12 large-12 columns feed">
                    <% @activities=get_activities %>
                    <% @activities.each do |activity| name=activity.owner.name.split(" ")%>
                <div class="row act">
                  <div class="large-12 columns fedbox">
                    <div class="large-2 columns avatar"><%= link_to image_tag(activity.owner.image).html_safe, session_path(activity.owner) %></div>
                    <div class="large-10 columns text"><strong><%=link_to name[0], session_path(activity.owner) %></strong>
                       <%= activity.key.html_safe %></div>
                  </div>

                  
            </div>
          <% end %>

      
    </div>
          </div>

       
  </div>
  </div>
      <div class="medium-9 large-9 columns content in">
          
                <% end %>
                <%= yield %>
               
              
        </div>
  </div>
</div>

  
   
  

  <!--<div id="menu-bar">
    <%= link_to '<div class="logotype"></div>'.html_safe, root_path %>
    <% if current_user %>
      <button class="button-profile" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">
          <strong> <%= current_user.name %></strong>
          <i class="fi-arrow-down"></i>
      </button><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
        <li>
          <a href="#">Profil</a>
        </li><br>
        <li>
          <%= link_to "Logga ut", signout_path, id: "sign_out" %>
        </li>
      </ul>
    
    <%end %>
</div>-->
</body>
</html>